<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- mybatis db 연결정보 세팅 파일 -->
<configuration>
<typeAliases>
	<typeAlias type="final_project.AuctionDTO" alias="auctiondto"/>
	<typeAlias type="final_project.temp_ProductDTO" alias="productdto"/>
	<typeAlias type="final_project.BidDTO" alias="biddto"/>
</typeAliases>
</configuration>




